<header>
  <p class="patient-visit">Patient visits by Appointment Only. Same Day appointments can be made by Phone call.</p>
  <div class="header-container">
    <img src="cfim-logo-updated-large-narrow.jpg" [routerLink]="['/']" class="nav-brand-logo"
      alt="California Functional Internal Medicine logo">
    <div class="header-nav-links">
      <a [routerLink]="['/about']" class="header-link">Meet Dr. Ansari</a>
      <a href="#services" class="header-link">Services</a>
      <a [routerLink]="['/reviews']" class="header-link">Reviews</a>
    </div>
    <div class="header-contact-links">
      <a href="tel:9493395272" class="header-link contact-reg">(949)-339-5272</a>
      <a href="https://patientportal.advancedmd.com/158164/onlinescheduling" target="_blank"
        class="header-link contact-inv">Book
        Online</a>
      <a href="https://california-functional-medicine-clinic.square.site/" target="_blank"
        class="header-link contact-inv">Health
        Store</a>
    </div>
    <div class="hamburger" (click)="toggleHamburger()">
      <div class="bar1" [ngClass]="{'animation-bar1': isToggled}"></div>
      <div class="bar2" [ngClass]="{'animation-bar2': isToggled}"></div>
      <div class="bar3" [ngClass]="{'animation-bar3': isToggled}"></div>
    </div>
  </div>
</header>
<nav class="mobile-nav" [ngClass]="{'drawer-open': isToggled}">
  <div class="mobile-header-links">
    <a [routerLink]="['/about']" class="header-link">Meet Dr. Ansari</a>
    <a href="#services" class="header-link">Services</a>
    <a [routerLink]="['/reviews']" class="header-link">Reviews</a>
  </div>
  <div class="mobile-contact-links">
    <a href="tel:9493395272" class="header-link contact-reg">(949)-339-5272</a>
    <a href="https://patientportal.advancedmd.com/158164/onlinescheduling" target="_blank"
      class="header-link contact-inv">Book Online</a>
    <a href="https://california-functional-medicine-clinic.square.site/" target="_blank"
      class="header-link contact-inv">Health Store</a>
  </div>
</nav>