header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--brand-color);
  box-shadow: 4px 4px 10px var(--brand-color);
}

.patient-visit {
  color: white;
  text-align: center;
  margin: 0;
  padding: 0.5rem 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.5rem 1rem;
}

.nav-brand-logo {
  height: 60px;
  cursor: pointer;
}

.header-container .header-nav-links {
  margin-left: auto;
}

.header-container .header-nav-links,
.header-container .header-contact-links {
  display: none;
}

.header-contact-links a {
  transition: transform 0.2s ease;
}

.header-contact-links a:hover {
  transform: scale(1.1);
}

.header-link {
  text-transform: uppercase;
  color: var(--brand-color);
  text-decoration: none;
  margin: 0 1rem;
}

.header-link.contact-reg {
  padding: 1rem 0.75rem;
  border-radius: 10px;
  border: 1px solid var(--brand-color);
}

.header-link.contact-inv {
  color: white;
  background-color: var(--brand-color);
  padding: 1rem 0.75rem;
  border-radius: 10px;
}

.bar1,
.bar2,
.bar3 {
  width: 2rem;
  height: 3px;
  background-color: var(--brand-color);
  margin: 4px 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Transformed states when toggled */
.bar1.transformed {
  transform: rotate(45deg) translate(4px, 6px);
}

.bar2.transformed {
  opacity: 0;
  transform: scale(0);
}

.bar3.transformed {
  transform: rotate(-45deg) translate(4px, -6px);
}

@keyframes flipBar1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg) translate(4px, 6px);
  }
}

@keyframes fadeBar2 {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes flipBar3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-45deg) translate(4px, -6px);
  }
}

.mobile-nav {
  width: 100%;
  transform: translateX(110%);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: white;
  transition: transform 0.5s ease;
  box-shadow: 4px 4px 20px var(--brand-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.mobile-nav.drawer-open {
  transform: translateX(0);
}

.mobile-nav .mobile-header-links,
.mobile-nav .mobile-contact-links {
  display: grid;
  row-gap: 1rem;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.mobile-contact-links .header-link {
  font-size: 0.9rem;
}

@media only screen and (min-width: 600px) {
  .mobile-nav {
    width: 50%;
  }
}

@media only screen and (min-width: 1279px) {
  .header-container .header-nav-links,
  .header-container .header-contact-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger {
    display: none;
  }

  .mobile-nav.drawer-open {
    transform: translateX(100%);
  }
}
