.footer {
  width: 100%;
  background-color: var(--brand-color);
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 2rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
  align-self: center;
  cursor: pointer;
  text-align: center;
}

.designed-by {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

@media only screen and (min-width: 320px) {
  .footer-links {
    align-items: center;
    text-align: center;
  }

  a.book-now {
    margin: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  a {
    align-self: flex-start;
  }

  a.book-now {
    margin: 0;
  }

  a.privacy-policy {
    justify-self: flex-start;
  }
}
