<footer class="footer">
  <div class="footer-links">
    <a [routerLink]="['/privacy-policy']" class="privacy-policy">Privacy Policy</a>
    <a href="https://patientportal.advancedmd.com/158164/onlinescheduling" target="_blank" class="book-now">Book Now</a>
    <!-- <a href="https://maps.app.goo.gl/7tdpLokHVJjKDAWm6" target="_blank" rel="noopener noreferrer" class="footer-link"
      id="footer-address"> <i class="fa-solid fa-map-location-dot"></i> -
      4950 Barranca Pkwy, Suite 205B, Irvine, CA 92604
    </a> -->
  </div>
  <div class="designed-by">
    <p>Designed &amp; developed with <i class="fa-solid fa-hand-holding-heart"></i> by Nadeem Ansari -
      <a href="https://www.linkedin.com/in/nadeem-ansari64/" target="_blank">LinkedIn</a>
    </p>
  </div>
</footer>