<section class="cards">
  <article class="card">
    <i class="fa-solid fa-calendar"></i>
    <span>Request Appointment</span>
  </article>
  <article class="card">
    <i class="fa-solid fa-stethoscope"></i>
    <span>About Us</span>
  </article>
  <article class="card" [routerLink]="[]" fragment="services">
    <i class="fa-solid fa-people-arrows"></i>
    <span>Our Services</span>
  </article>
  <article class="card" [routerLink]="[]" fragment="location">
    <i class="fa-solid fa-address-book"></i>
    <span>Contact Us</span>
  </article>
</section>