<section class="about">
  <div class="container">
    <h1>Meet Dr. Ansari</h1>
    <h2>board certified in internal medicine & certified functional medicine in Mission Viejo, CA</h2>
    <div class="profile-photo-container">
      <img src="dr-ansari.jpg" alt="">
    </div>
    <p class="about-para">Dr. Mohammed Ansari is board certified in Internal medicine and completed his
      residency from
      University of
      Missouri, Kansas city. He has also completed training in functional medicine from the institute of Functional
      Medicine (IFM), and has been trained in chronic infections from ILADS and is a Lyme literate MD. He is also very
      well versed in mold illness, heavy metal toxicity, environmental illnesses, hormonal imbalances just to name a
      few. He also considers Dr. Neil Nathan, who is one of the leading experts in environmental illnesses and mold
      toxicity as his mentor as he has learned from him and is also part of his mentorship program where they have group
      discussions on difficult cases.</p>
    <p class="about-para">Dr. Ansari’s interest in Integrative and functional medicine came from various
      different
      avenues. When he was
      working as assistant professor of medicine at the University of Kansas, teaching medical students and residents,
      he used to see the same patients in the hospital not improving on standard of care treatments and wondered about
      other aspects that were neglected. He then enrolled in the “Institute of functional medicine” which aligned with
      his philosophy of “treating the root cause of disease and not just treating the symptoms” and “using food,
      nutrition, lifestyle and supplements in addition to traditional medicine” to enhance the patient’s immune system
      and eliminate illness. One of the other inspirations to learn about environmental illness and mold toxicity also
      came to him when his whole family including himself were affected by mold illness from living in a moldy home.
    </p>
    <p class="about-para">He is naturally a very curious individual who is always eager to learn and in his
      free time
      goes through a lot of
      published research to get his answers as this is his passion. Although many times intuition is needed in treating
      patients, he believes there is a lot of research and evidence already out there which physicians and patients can
      benefit from and he regularly goes over interesting articles with his colleagues to see how to improve patient
      outcomes.</p>
    <p class="about-para">Dr. Ansari has extensive work experience, he has worked in acute patient care for
      Inpatient
      medicine and served
      as an Assistant professor in Internal Medicine at the University of Kansas Medical Center from 2016 to 2021 where
      he taught medical students and residents. He has also worked in an outpatient setting seeing patients for various
      illnesses including primary care from 2021 to 2024 before deciding to open his own practice. </p>
    <p class="about-para">Dr. Ansari has a special interest and training in treating allergies, reducing the
      effects of
      toxic chemicals,
      exercise physiology, nutrition, weight management, mold illness, heavy metal toxicity and Environmental medicine.
    </p>
    <p class="about-para">Dr. Ansari spends time with his family in his off time and enjoys reading English
      mysteries,
      science-fiction
      novels, reading research papers, flying radio-controlled aircraft, weight lifting and training martial arts
      (Jiu-Jitsu/Wrestling/Kickboxing). </p>
  </div>
</section>