.hero-container {
  height: 300px;
  background-image: url('/hero.jpg');
  background-size: cover;
  background-position: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-headings {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.hero-headings h1 {
  font-size: 24px;
}

.hero-headings h2 {
  font-size: 18px;
  font-weight: 300;
}

@media only screen and (min-width: 850px) {
  .hero-headings {
    width: 80%;
  }

  .hero-headings h1 {
    font-size: 30px;
  }

  .hero-headings h2 {
    font-size: 24px;
    font-weight: 300;
  }
}

@media only screen and (min-width: 1050px) {
  .hero-headings {
    width: 70%;
  }
}

@media only screen and (min-width: 1300px) {
  .hero-headings {
    width: 60%;
  }
}

@media only screen and (min-width: 1600px) {
  .hero-headings {
    width: 50%;
  }
}

@media only screen and (min-width: 1700px) {
  .hero-headings {
    padding: 1rem;
  }
}

@media only screen and (min-width: 1800px) {
  .hero-headings h1 {
    font-size: var(--h2-font-size);
  }

  .hero-headings h2 {
    font-size: var(--h3-font-size);
    font-weight: 300;
  }
}
