<section class="main">
  <h1>Cholestrol</h1>
  <p class="location">Internal Medicine & Functional Medicine located in Mission Viejo, CA</p>
  <section class="intro-container">
    <img src="cholestrol-small.jpg" alt="Image of a person mixing butter indicating Cholestrol">
    <p class="intro-text">As many as 25 million American adults experience dangerously high cholesterol levels and a
      higher risk for heart conditions and stroke. To protect your health, rely on Mohammed Ansari, MD, and the team at
      California Functional Internal Medicine Clinic in Mission Viejo, California. To schedule your cholesterol
      consultation and ensure your health is protected, book an appointment using online scheduling tool now.</p>
  </section>
  <section class="body">
    <h2>Cholestrol Q & A</h2>
    <p class="question">What is important to know about cholesterol?</p>
    <p>Some cholesterol is useful. This waxy, fatty substance helps your body form cell membranes, produce hormones, and
      process food — all vital functions. </p>
    <p>However, certain types of high cholesterol means your blood contains too much fat, and your body can’t utilize
      all of it. This causes the cholesterol to form plaque, a sticky substance that begins to build up along your
      arteries’ walls. </p>
    <p>Once these “speed bumps” are in place along your circulatory pathways, it’s easier for the plaque to keep
      accumulating, narrowing your bloodstream’s pathways. This buildup of dangerous plaque is atherosclerosis. </p>
    <p>If the main arteries in the heart narrow, it’s known as coronary artery disease (CAD). Peripheral artery disease
      (PAD) refers to a narrowing in the arteries of your arms or legs. </p>
    <p>To keep your circulatory system healthy, seek the care of a skilled provider like Dr. Ansari to ensure your
      cholesterol levels are within a safe range. </p>
    <p class="question">How is cholesterol checked?</p>
    <p>Blood tests, using a small sample from your arm or finger, provide vital information about your cholesterol
      levels. A regular lipid profile can measures your:</p>
    <ul>
      <li>HDL (“good”) cholesterol</li>
      <li>LDL (“bad”) cholesterol</li>
      <li>Triglycerides</li>
      <li>Total cholesterol</li>
    </ul>
    <p>Simply put, LDL cholesterol is likely to block your arteries, while HDL cholesterol absorbs excess cholesterol in
      your bloodstream and transports it to your liver, where it can be flushed out of your system.</p>
    <p>If you eat a meal and your body doesn’t need to use all the calories, it converts the extra energy into
      triglycerides, a type of fat. This can be good for having steady energy, but if your levels are too high, it
      increases your risk of heart disease, stroke, and heart attack.</p>
    <p>Finally, your lipid profile measures your total cholesterol, which reflects your triglycerides, HDL cholesterol,
      and LDL cholesterol numbers. </p>
    <p>Dr.Ansari using his functional medicine and internal medicine knowledge looks at Cholesterol in a more nuanced
      way. Our team looks at advanced cholesterol panels and not just regular cholesterol panels, that look at LDL
      particle size and number along with markes of inflammation in the blood vessels (MPO, F2isoprostanes etc) which
      can give us early hints of possible plaque buildup before things go really bad. </p>
    <p class="question">What causes unhealthy cholesterol levels? </p>
    <p>While genetics can play a role, lifestyle choices are generally the biggest culprit when it comes to cholesterol
      levels that are too high. Impactful lifestyle factors may include:</p>
    <ul>
      <li>Smoking</li>
      <li>Overeating</li>
      <li>Not eating enough vegetables and fruits</li>
      <li>Drinking alcohol</li>
      <li>Being overweight</li>
      <li>Insufficient exercise</li>
    </ul>
    <p>The upside is that lifestyle changes can also improve your cholesterol levels, particularly with Dr. Ansari’s
      guidance. He can also prescribe supplements and medications as needed.</p>
    <p>To schedule your cholesterol consultation, book an appointment online today.</p>
    <a href="https://patientportal.advancedmd.com/158164/onlinescheduling" target="_blank">Book Now</a>
  </section>
</section>