<section class="qoc">
  <h2 class="qoc-heading">Bringing Quality of Care into the homes of <span>all</span>.</h2>
  <h3 class="qoc-subheading">Based in <span>Irvine, CA</span></h3>
  <p class="para-1">We provide telehealth services including medication management and lab draws All over California.
  </p>
  <p class="para-2">We have made Functional medicine affordable for all, Our cash prices for new patient visit is 180$
    and for follow up visit is 90$. We also accept many major PPO insurances.
  </p>
</section>