<section class="main">
  <a [routerLink]="['/']" fragment="services"><i class="fa-solid fa-arrow-left"></i> Back to Services</a>
  <h1>Lyme Disease</h1>
  <p class="location">Internal Medicine & Functional Medicine located in Mission Viejo, CA</p>
  <section class="intro-container">
    <img src="lyme-small.jpg" alt="Image of a doctor's prescription pad and stethoscope for primary care">
    <p class="intro-text">If you have suffered prolonged symptoms after a tick bite, you’re not alone. Almost half a
      million Americans are diagnosed with chronic Lyme disease every year. For accurate diagnosis and treatment, turn
      to Dr.Ansari and the team at California Functional Internal Medicine Clinic in Mission Viejo, California. To
      schedule your chronic Lyme disease treatment, easily self schedule an appointment online today.</p>
  </section>
  <section class="body">
    <h2>Lyme Disease Q & A</h2>
    <p class="question">What is Lyme disease?</p>
    <p>Lyme disease originates from a bacterial infection, generally caused by a tick bite. The microorganism
      responsible for Lyme disease, borrelia bacteria, is carried by ticks. Although these ticks live across America,
      your risk is greater in the Midwest or Eastern United States but they are present even in the Pacific coast as
      well.</p>
    <p>Lyme disease treatment aims to relieve the chronic symptoms of Lyme disease, especially if you have:</p>
    <ul>
      <li>Brain fog</li>
      <li>Migratory Joint pains</li>
      <li>Fatigue</li>
      <li>Gut issues</li>
      <li>Muscle aches</li>
      <li>Headache</li>
      <li>Fever</li>
      <li>Chills</li>
      <li>Facial paralysis</li>
      <li>Arthritis</li>
      <li>Rash</li>
    </ul>
    <p>The symptoms of Lyme disease may appear anywhere on the body. Dr. Ansari is a member of the International Lyme
      and Associated Diseases Society (ILADS) and has received extensive specialized training to provide solutions as
      you battle Lyme disease. </p>
    <p class="question">Should I pursue Lyme disease treatment? </p>
    <p>Lyme disease may or may not have initial symptoms like "Bulls eye" rash, fever, chills after the tick bite which
      usually improve. However, some people develop chronic symptoms lasting for months or years which can cause
      migratory joint pains, muscle aches, brain fog, fatigue, GI issues etc. </p>
    <p>If you’ve been diagnosed with Lyme disease and your symptoms last two weeks or longer, talk to Dr. Ansari about
      Lyme disease treatment. This is especially true if you experience symptoms like fatigue, insomnia, migratory joint
      pains and body aches, even if you never thought that you had a tick bite. </p>
    <p class="question">What can I expect from Lyme disease treatment? </p>
    <p>At California Functional Internal Medicine Clinic, Dr. Ansari reviews your medical records and asks a series of
      questions, including when you first got sick, what symptoms you’re experiencing, and whether your symptoms are
      ongoing or Intermittent. </p>
    <p>Next, Dr. Ansari completes a comprehensive physical exam and may order lab work like blood tests and specialty
      labs. After these essential steps, he may suggest:</p>
    <ul>
      <li>Antioxidant vitamins</li>
      <li>Adaptogens (herbs to improve your immune response) botanicals</li>
      <li>Antibacterial herbs</li>
      <li>Prescription Antibiotics</li>
      <li>Gut healing supplements</li>
    </ul>
    <p>If needed, Dr. Ansari can prescribe antibiotics. He will monitor your symptoms and can adjust your treatment plan
      whenever necessary. </p>
    <p>If you’ve been suffering from fatigue, headache, and other symptoms of Lyme disease, contact the California
      Functional Internal Medicine Clinic office and easily self book your appointment online today.</p>
    <a href="https://patientportal.advancedmd.com/158164/onlinescheduling" target="_blank">Book Now</a>
  </section>
</section>