<section class="location-container" id="location">
  <h2>Our Location</h2>
  <a href="https://maps.app.goo.gl/jMrxmiRNvXjhRwsg8" target="_blank" rel="noopener noreferrer" class="footer-link"
    id="footer-address"> <i class="fa-solid fa-map-location-dot"></i> -
    23120 Alicia Pkwy, Suite 216, Mission Viejo, CA 92692
  </a>
  <div class="map-container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3322.1486601041374!2d-117.65305292292058!3d33.627387240041976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dce98af7a48fc9%3A0x78ca78eaba1e5cc3!2sCalifornia%20Functional%20Internal%20Medicine%20Clinic%3A%20Mohammed%20Ansari%2C%20MD!5e0!3m2!1sen!2sus!4v1745967801067!5m2!1sen!2sus"
      style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="location-details">
      <h3>Hours Of Operation:</h3>
      <p>Monday to Friday: 8:00 AM to 5:00 PM</p>
      <p>Saturday & Sunday: Closed</p>
    </div>
  </div>
</section>