.location-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-container h2 {
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.location-container a {
  text-decoration: none;
  color: var(--brand-color);
  text-align: center;
  margin: 1rem 0;
}

.location-container iframe {
  width: 100%;
}

.location-details {
  text-align: center;
}

@media only screen and (min-width: 425px) {
  .location-container h2 {
    border-bottom: 2px solid var(--brand-color);
  }
}

@media only screen and (min-width: 768px) {
  .map-container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    width: 90%;
    margin: 0 auto;
  }

  .map-container iframe {
    align-self: center;
    justify-self: flex-end;
    width: 100%;
    height: 300px;
  }

  .location-details h3 {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .map-container {
    width: 80%;
  }
}

@media only screen and (min-width: 1440px) {
  .map-container {
    width: 70%;
  }

  .map-container iframe {
    height: 450px;
  }

  .location-details h3 {
    font-size: var(--h3-font-size);
  }
  .location-details p {
    font-size: 1.25rem;
  }
}
