<section class="location-container" id="location">
  <h2>Our Location</h2>
  <div class="map-container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1660.1501258967385!2d-117.79555963032408!3d33.675288814389894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dcddaff18d8399%3A0x9c2e059c18f3e8cd!2s4950%20Barranca%20Pkwy%20Suite%20205B%2C%20Irvine%2C%20CA%2092604!5e0!3m2!1sen!2sus!4v1751223324671!5m2!1sen!2sus"
      style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="location-details">
      <h3>Hours Of Operation:</h3>
      <p>Monday to Friday: 8:00 AM to 5:00 PM</p>
      <p>Saturday & Sunday: Closed</p>
      <a href="https://maps.app.goo.gl/7tdpLokHVJjKDAWm6" target="_blank" rel="noopener noreferrer" class="footer-link"
        id="footer-address"> <i class="fa-solid fa-map-location-dot"></i> -
        4950 Barranca Pkwy, Suite 205B, Irvine, CA 92604
      </a>
    </div>
  </div>
</section>