<section>
  <h2>Services We Offer</h2>
  <div class="services-offered-container">
    <article class="service-card">
      <div class="service-img-container">
        <img src="primary-care-small.jpg" alt="">
      </div>
      <h3 class="service-title">primary care</h3>
      <a>read more</a>
    </article>
    <article class="service-card">
      <div class="service-img-container">
        <img src="prescription-pad-small.jpg" alt="">
      </div>
      <h3 class="service-title">functional medicine</h3>
      <a>read more</a>
    </article>
    <article class="service-card">
      <div class="service-img-container">
        <img src="mold-small.jpg" alt="">
      </div>
      <h3 class="service-title">mold toxicity</h3>
      <a>read more</a>
    </article>
    <article class="service-card">
      <div class="service-img-container">
        <img src="leaky-gut-small.jpg" alt="">
      </div>
      <h3 class="service-title">leaky gut</h3>
      <a>read more</a>
    </article>
    <article class="service-card">
      <div class="service-img-container">
        <img src="hypertension-small.jpg" alt="">
      </div>
      <h3 class="service-title">hypertension</h3>
      <a>read more</a>
    </article>
    <article class="service-card">
      <div class="service-img-container">
        <img src="diabetes-small.jpg" alt="">
      </div>
      <h3 class="service-title">diabetes</h3>
      <a>read more</a>
    </article>
    <article class="service-card">
      <div class="service-img-container">
        <img src="cholestrol-small.jpg" alt="">
      </div>
      <h3 class="service-title">cholestrol</h3>
      <a>read more</a>
    </article>
    <article class="service-card">
      <div class="service-img-container">
        <img src="heavy-metal.png" alt="">
      </div>
      <h3 class="service-title">heavy metal toxicity</h3>
      <a>read more</a>
    </article>
    <article class="service-card">
      <div class="service-img-container">
        <img src="h-imbalance-small.jpg" alt="">
      </div>
      <h3 class="service-title">hormonal imbalances</h3>
      <a>read more</a>
    </article>
    <article class="service-card">
      <div class="service-img-container">
        <img src="allergy-small.jpg" alt="">
      </div>
      <h3 class="service-title">allergies</h3>
      <a>read more</a>
    </article>
    <article class="service-card">
      <div class="service-img-container">
        <img src="lyme-small.jpg" alt="">
      </div>
      <h3 class="service-title">lyme disease</h3>
      <a>read more</a>
    </article>
    <article class="service-card">
      <div class="service-img-container">
        <img src="weight-loss-small.jpg" alt="">
      </div>
      <h3 class="service-title">weight loss</h3>
      <a>read more</a>
    </article>
  </div>
</section>