<section class="welcome">
  <h2 class="welcome-heading">Welcome!</h2>
  <h3 class="welcome-subheading">Adult Primary Care Internal Medicine & Certified Functional Medicine
  </h3>
  <div class="profile-photo">
    <img src="dr-ansari.jpg" alt="Photo of Dr. Ansari">
  </div>
  <h3 class="photo-title">Dr. Ansari</h3>

  <p class="para-1">From the conveniently located office in Mission Viejo, California, primary care provider <strong>
      Mohammed
      Ansari, MD</strong>, and the team at California Functional Internal Medicine Clinic offer Internal Medicine and
    holistic
    functional medicine services to adults wanting to go beyond managing symptoms and pursue optimal health and
    wellness.</p>

  <a href="#about" class="learn-more">Learn More</a>
</section>