<section class="credentials">
  <h2>Our Credentials</h2>
  <hr>
  <div class="credential-grid">
    <article>
      <div class="credential-logo">
        <img src="credentials/abim-2.png" alt="">
      </div>
      <h3>Internal Medicine Board Certified</h3>
    </article>
    <article>
      <div class="credential-logo">
        <img src="credentials/functional-medicine-certified.png" alt="">
      </div>
      <h3>Functional Medicine Certified Practictioner</h3>
    </article>
    <article>
      <div class="credential-logo">
        <img src="credentials/toxic.png" alt="">
      </div>
      <h3>Mold and Environmental Illness Expert</h3>
    </article>
    <article>
      <div class="credential-logo">
        <img src="credentials/ILADS.png" alt="">
      </div>
      <h3>Lyme Literate MD</h3>
    </article>
  </div>
</section>