.credentials {
  width: 90%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.credentials h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: var(--h2-font-size);
  border-bottom: 2px solid;
}

.credential-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.credential-grid article {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  box-shadow: 4px 4px 10px var(--brand-color);
}

.credential-grid .credential-logo {
  overflow: hidden;
}

.credential-logo img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.credential-logo img:hover {
  transform: scale(1.1);
}

.credential-grid h3 {
  font-size: var(--h3-font-size);
}

@media only screen and (min-width: 600px) {
  .credential-grid {
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
  }
}

@media only screen and (min-width: 850px) {
  .credentials {
    width: 80%;
  }
  .credential-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1279px) {
  .credential-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1440px) {
  .credentials {
    width: 70%;
  }
}

@media only screen and (min-width: 1900px) {
  .credentials {
    width: 60%;
  }
}
