<section>
  <div class="main">
    <a [routerLink]="['/']" fragment="services"><i class="fa-solid fa-arrow-left"></i> Back to Services</a>
    <h1>Primary Care</h1>
    <p class="location">Internal Medicine & Functional Medicine located in Mission Viejo, CA</p>
    <section class="intro-container">
      <img src="primary-care-small.jpg" alt="Image of a doctor's prescription pad and stethoscope for primary care">
      <p class="intro-text">If you want to pursue health and longevity, rely on the primary care services from Mohammed
        Ansari, MD, and the
        team at California Functional Internal Medicine Clinic in Mission Viejo, California. They can help you prevent
        future problems, protect your current health, and pursue optimal well-being. To set up your primary care
        appointment, use the online scheduling tool today.</p>
    </section>
    <section class="body">
      <h2>Primary Care Q & A</h2>
      <p class="question">What is primary care?</p>
      <p>Primary care is medical care that provides a foundation for health and wellness. It aims to establish a
        reliable
        structure of well-being to support your passions, pursuits, and relationships in life so you can get the most
        out
        of every day.</p>
      <p>As your primary care provider, Dr. Ansari helps you prevent illness in the short- and long-term, answer
        questions
        as they arise, and manage chronic diseases. A good relationship with a trusted primary care provider can mean a
        healthier, longer life for you and your family.</p>
      <p class="question">Am I old enough to look for a primary care provider? </p>
      <p>The pursuit of health doesn’t have a qualifying age. Regardless of your age, gender, or lifestyle, anyone can
        benefit from having a trusted primary care provider to understand your needs and customize your care as you move
        through the seasons of life.</p>
      <p class="question">What primary care services can I expect?</p>
      <p>At California Functional Internal Medicine Clinic, Dr. Ansari and the team don’t just look at your symptoms.
        Instead, they examine your health from a broader perspective to find the root cause of ailments and address or
        correct a wide variety of health conditions, such as:</p>
      <ul>
        <li>Hypertension (high blood pressure)</li>
        <li>Diabetes</li>
        <li>Cholesterol issues</li>
        <li>Hormonal imbalances</li>
        <li>Food intolerances/Gut issues</li>
        <li>Mold Toxicity</li>
        <li>Chronic Lyme disease</li>
      </ul>
      <p class="highlight">Book an appointment online if you are in need of:</p>
      <p class="underline">Wellness exams</p>
      <p>A wellness exam is an excellent opportunity to touch base with Dr. Ansari and the team, ask about your health,
        and get an up-to-date assessment of where you stand. Wellness exams are especially crucial for preventing
        chronic
        illnesses.</p>
      <p class="underline">Annual physicals</p>
      <p>Like a wellness exam, annual physicals track your health, but these visits occur at specific intervals. This
        type
        of comprehensive evaluation can be your first warning of any potential health concerns.</p>
      <p class="underline">Sick visits</p>
      <p>If you’re under the weather, get in touch with Dr. Ansari for quick care and helpful advice.</p>
      <p class="underline">Follow up visits</p>
      <p>Once you’ve received a treatment plan, the team at California Functional Internal Medicine Clinic wants to
        ensure
        you’re getting the best results from your care. To this end, follow-up visits track your progress and allow Dr.
        Ansari to adjust your care as needed.</p>
      <p>Dr. Ansari can also offer sound medical guidance for weight loss, allergies, or recovery from mold toxicity
        just
        to name a few.</p>
      <p>To learn more about the primary care services available, get in touch with the California Functional Internal
        Medicine Clinic office and book your appointment online today.</p>
      <a href="https://patientportal.advancedmd.com/158164/onlinescheduling" target="_blank">Book Now</a>
    </section>
  </div>
</section>